@font-face{
    font-display: optional;
}

.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.buy-scooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 2500px;
    align-items: center;
    padding: 4rem 0;
    border-bottom: 10px solid #83838338;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ht {
    height: 76rem;
}

.ht_25{
    height: 25rem;
}

.ht_45{
    height: 45rem;
}

#stone-img{
    width: 70%;
}

.content__scooter{
    width: 50%;
    /* height: 100%; */
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 3rem;
    gap: 1rem;
}

.style-darkly{
    background-image: url("../../assests/texture/darkly.jpeg");
}

.style-white{
    background-image: url("../../assests/texture/white.jpeg");
}

.font-sty{
    font-size: 3rem;
    -webkit-background-clip: text;
    color: transparent;
}

.content__scooter p {
    font-family: sans-serif;
    font-weight: 100;
    line-height: 1.6rem;
    font-size: medium;
}

.content__scooter .buy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray{
    color: #878787;
}

.yellow{
    color: #feff26;

}

.blue-summer{
    background-color: #377be7;
}

.bluemarine{
    background-color: #3c4463;
}

.blue-fnt{
    color: #7da7c3;
}

.white{
    color: #ffffff;
}

.black{
    color: #000000;
}

.blue-mftouh{
    background-color: #37b5dd;
}

.blue-fnt-scooter{
    color: #0398b5;
}

.white-blue{
    background-color: #bbd0d4;

}

.blue{
    color: #16BEDD;
}

.orange{
    color: #fe4d06;
}

.red{
    color: #E23943;

}

.blue-dark{
    background-color: #081828;
}

.bg-gray{
    background-color: #f2f1f4;
}

.bg-gradians{
    background: radial-gradient(#00000096, #000000);
}

.bg-gradians-purple{
    background: radial-gradient(#566082, #373f5e);
}

.brdr-top{
    border: 0;
    border-top: 1px solid whitesmoke;
}

.brdr-zero{
    border: 0;
}
.brdr{
    border: 4px solid #e4e4e4;
}

.content__scooter a, .buy a{
    font-weight: bold;
    font-family: sans-serif;
    text-decoration: none;
}

.icon-right {
    font-size: 2rem;
    font-weight: bold;
}

.video__scooter{
    width: 50%;
}

.video__scooter video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/*Presentation*/

.scooter-presentation{
    padding-top: 4rem;
    position: relative;
    max-width: 2500px;
    width: 100%;
    height: 50rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: #878787; */
    /* background: url('../../../Scooter/assests/scooterson-video-loop.mp4'); */
    /* object-fit: cover; */
}

.scooter-presentation video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.scooter-presentation > h2{
    margin: 0;
    color: white;
    font-size: 1.8rem;
}

.scooter-presentation a{
    text-decoration: none;
}

.underline:hover{
    text-decoration: underline;
}

.watch-presentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.watch-presentation h2{
    margin: 0;
    padding-right: 1rem;
    font-size: 2.5rem;
}

.start-watching{
    font-size: 2rem;
}

/*Types Scooter*/
.types_scooter {
    display: flex;
    width: 100%;
    max-width: 2500px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
}

.type_scooter{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 0 1rem;
    padding: 1rem;
    align-items: center;
}

.yellow_scooter{
    border-right: 1px solid whitesmoke;
}

.type_scooter > h2{
    font-size: 3rem;
}

.img_scooter{
    display: flex;
    justify-content: center;
}

.features_scooter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.features_scooter > p{
    margin-left: 1rem;
    line-height: 1.6rem;
    color: #9b9b9b;
    font-size: 1.4rem;
}

.icon__features{
    font-size: 2rem;
    color: #9b9b9b;
    font-weight: bold;
}

.three-rem{
    font-size: 3rem;
}

.med-font{
    font-size: medium;
}

.margin-zero{
    margin: 0;
}

.margin-four-side{
    margin: 0 4rem;
}

.padding-three-top-btm{
    padding: 3rem 0;
}

.padding-three-right-left{
    padding: 0 3rem;
}

.text-center{
    text-align: center;
}

.text-end{
    text-align: end;
}

.padding-zero{
    padding: 0;
}

.all{

    background-color: #081828;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 75rem;
    width: 100%;
    max-width: 2500px;
    padding: 4rem 0px;
    border-bottom: 10px solid #83838338;
}

.grid{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70%;
}

.line{
    border: 1px solid #f5f5f517;
    width: 40%;
}
.content_hr{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.features-batairie{
    display: flex;
    flex-direction: row;
    gap: 9rem;
    justify-content: center;
}

.feature{
    display: flex;
    width: 11%;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

input[type="email"] {
    padding: 0.7rem;
    width: 60%;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    align-self: center;
    font-size: medium;
}

.submit-btn{
    padding: 0.9rem;
    width: 63%;
    border: 0;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    align-self: center;
}

@media (max-width:1440px){
    .features-batairie{
        gap: 5.5rem;
    }
}

@media (max-width:1024px){
    .features-batairie{
        gap: 4.5rem;
    }
    .margin-four-side{
        margin: 0;
    }
}

@media screen and (max-width:900px){

    .buy-scooter,
    .all,
    .grid,
    .types_scooter{
        flex-direction: column;
        justify-content: space-around;
    }

    .content__scooter,
    .video__scooter,
    .grid,
    .content_hr{
        width: 100%;
    }
    .type_scooter{
        width: 90%;
    }
    .yellow_scooter{
        border: 0;
        border-bottom: 1px solid whitesmoke;
    }
    .line{
        width: 10%;
    }
}

@media screen and (max-width:768px)
{
    .content__scooter{
        padding: 3rem 0;
    }

    .watch-presentation{
        flex-direction: column;
    }
    .watch-presentation h2 {
        padding: 0;
    }
    .flex{
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width:425px){
    .features-batairie{
        gap: 3.5rem;
    }
    .fnt-size{
        font-size: 0.5rem;
    }
}

@media (max-width:425px){
    .ht {
        height: 30rem;
    } 
}
