.main-header{
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333a40;
}

.container-header{
    max-width: 1024px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon-menu {
    display: none;
}

.logo-header{
    margin: 0;
    font-weight: bold;
    letter-spacing: 15px;
}

.logo-header a{
    text-decoration: none;
    color: white;
}

.list-header{
    margin: 0;
    width: 60%;
}

.items-header{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.item-header{
    margin: 0;
    padding: 0 0 0 2.5rem;
}

.item-header a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    letter-spacing: 3px;
}

@media screen and (max-width:768px)
{
    .list-header{
        display: none;
    }

    .logo-header {
        letter-spacing: 14px;
    }
    .items-header{
        flex-direction: column;
        align-items: flex-end;
    }
    .item-header {
        padding: 0 0 2.5rem 0;
    }
    
    .container-header{
        padding: 0 1rem;
        justify-content: center;
        align-items: center;
    }
}