.navbar{
    margin: 0;
    padding: 0.5rem 1rem;
    font-size: .8rem;
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffffffa;
    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: #6e6d6d26;
    position: sticky;
    top: 0;
}

.container-navbar{
    max-width: 1024px;
    display: flex;
    width: 100%;
}

.logo-nav{
    margin: 0;
    font-weight: bold;
    letter-spacing: 15px;
    width: 12%;
}

.logo-nav a{
    color: black;
    text-decoration: none;
}

.list-items__nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 83%;
}

.list-nav{
    margin: 0;
}

.items-nav{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.item-nav{
    margin: 0;
    padding: 0 2.5rem 0 0;
}

.item-nav a{
    text-decoration: none;
    color: #161515;
    font-weight: 100;
    letter-spacing: 3px;
}

.button-buy{
    background-color: #ffffff00;
    border: 2px solid #ff4d06;
    border-radius: 5px;

}

.button-buy a{
    color: #ff4d06;
    text-decoration: none;
}

@media screen and (max-width:768px)
{
    .list-items__nav{
        display: none;
    }
    .logo-nav {
        width: 80%;
        text-align: center;
    }
    .container-navbar {
        align-items: center;
        justify-content: center;
    }
    .icon-menu {
        display: block;
        color: rgb(61, 61, 61);
        font-size: 1.8rem;
    }
}